[2015-04-18 13:13] jbenet opened #1 "1-to-2 should print to user that repo changed location"
maybe the migrations should be allowed to output a little bit of important text to users. in particular, i'd like to know the fact that `~/.go-ipfs` is now at `~/.ipfs`

---

now:

[code]

maybe make it:

[code]

@whyrusleeping

[2015-04-18 13:18] jbenet opened #2 "migrations should ensure daemon not running"
migrations should acquire the repo lock (as it was supposed to be acquired at the particular version) to ensure that the repo is not modified while a daemon is running. the error message to the user should be friendly.

What i got:

[code]

what i want

[code]

[2015-04-20 03:17] jbenet commented on #1
Done in:
* 8c69381 Jeromy - enable verbose printing in child migration calls (26 hours ago)
* 5340347 Jeromy - add verbose printing to migrations (30 hours ago)

[2015-04-20 03:17] #1 closed

[2015-04-20 06:31] jbenet commented on #2
done in #3

[2015-04-20 06:31] #2 closed

[2015-04-20 11:23] jbenet opened #4 "fs-repo-migrations fails to run with IPFS_PATH set"
if the repo is in a different location, `fs-repo-migrations` fails to run `1-to-2` because of path conflict:

[code]

[2015-04-20 12:13] jbenet commented on #4
fixed

[2015-04-20 12:13] #4 closed

[2015-04-24 10:40] jbenet opened #5 "1-to-2 migration panic"
https://gist.github.com/NeoTeo/5f92f8963b490841d88c

thanks @NeoTeo

[2015-04-24 16:53] whyrusleeping commented on #5
Thats weird. That to me feels like query is broken.

[2015-11-26 08:04] harlantwood opened #8 "migration fails with "already at or above target version number""
I upgraded from v0.3.8 to v0.4.0-dev (https://github.com/ipfs/go-ipfs/commit/e04a31d) and:

[code]

Debugging info:

[code]

[2015-11-26 08:06] harlantwood commented on #8
BTW, I will nuke my ipfs data, no big deal on this server, just wanted to report the issue.

[2015-11-26 08:08] harlantwood commented on #8
Oh, also:

[code]

[2015-11-28 00:36] harlantwood commented on #8
BTW same on my Mac, OSX 10.10.5

[2015-12-01 15:12] jbenet commented on #8
the migration for dev0.4.0 is not yet written i believe.

[2015-12-30 09:48] chriscool opened #11 "fs-repo-migrations should not ignore arguments"
Ignoring arguments can lead people to wrongly think that it has some hidden features:

[code]

[2015-12-30 09:51] chriscool opened #12 "fs-repo-migrations should have a way to show its own version"
Or at least it should have a way to tell which migrations it can handle, without trying the migration.
Otherwise it is difficult for people to know if they have the right version of fs-repo-migrations for their needs.

[2015-12-30 09:56] chriscool commented on #12
Ok maybe `-v` is to show the highest version the tool can handle, but it is not clear from the help message "print highest repo version and exit".

"highest repo version" could mean "highest repo version found on the computer" at least that's what I thought first when reading it.

[2016-01-02 11:43] NightRa opened #14 "Migration on Windows doesn't handle default IPFS_PATH"
On windows, if no 'IPFS_PATH' was set, the migration tools complains with "could not determine IPFS_PATH, home dir not set".
The default path is in the user's directory under `.ipfs`
Setting the variable to this folder solved the issue for me.

[2016-01-02 12:02] whyrusleeping commented on #14
@NightRa what is an easy way to find a users home directory on windows? (programmatically)

[2016-01-02 12:03] NightRa commented on #14
Possibly the %USERPROFILE% env. variable. But better check where exactly ipfs puts it's dir by default

[2016-01-05 18:03] chriscool opened #15 "Ideas about migration tests"
If you have ideas about some kind of migration tests we could do, please add them as comments in this issue. Thanks!

[2016-01-05 18:12] chriscool commented on #15
From Kubuxu on IRC:

[code]

[2016-01-05 18:13] jbenet commented on #15
(preface: i havent looked at the latest tests-- i will later this week.) i think the big thing for fs-repo-migrations testing is making sure everything works fine going up and down without losing any data, including for large repos or repos with large pinsets.

[2016-01-05 18:14] chriscool commented on #15
From jbenet on IRC:

[2016-01-05 18:23] jbenet commented on #15
i wrote up somewhere in an issue or pr (dont recall where) a sample workload (adding lots of stuff, adding pins, removing pins, adding more stuff, gc-ing, applying migrations, etc, all interspersed).

i suspect too that a long-running randomized approach might be helpful in discovering problems.

[2016-01-05 19:18] chriscool commented on #15
@jbenet yeah I will search for what you wrote already

[2016-01-05 21:35] chriscool commented on #15
@jbenet: it's in PR #7. I will extract your ideas and @whyrusleeping's in comments below.

[2016-01-05 21:37] chriscool commented on #15
@whyrusleeping's idea from PR #7:

i'm fine having this tested with or without docker, my main idea for testing this goes something like:

   * download ipfs v0.3.10
   * init with that binary
   * A: generate a set of files that get added and pinned
   * B: generate a set of files that get added and unpinned
   * C: generate a set of directory trees that get added
   * D: generate a set of direct

[2016-01-05 21:40] chriscool commented on #15
@jbenet's idea from PR #7:

it may be nice to start with the very first version, and ratchet up all the way, and all the way back down. to ensure all the migrations continue working. :) basically:

(first) for each repo version:

   * download a version of go-ipfs corresponding to that repo

for each repo version transition (A->B), both going up and going down:

   * (1) ipfs init (with binary kno

[2016-01-07 17:09] chriscool opened #16 "Migrating downward to a previous version is not documented"
It is not clear from the doc and from running `fs-repo-migrations -h` if it is possible to go back to a previous version or not. And if it is possible it is not clear how.

[2016-01-07 18:56] RichardLitt commented on #16
I've been working on this in https://github.com/ipfs/fs-repo-migrations/pull/10.

[2016-01-07 21:37] chriscool commented on #16
@RichardLitt thanks!

[2016-01-09 06:09] chriscool opened #18 "Table showing repo version corresponding to ipfs versions?"
It would be nice if there was a table showing which repo version corresponds to which ipfs versions.
Also if fs-repo-migration gets its own version number (see issue #12), these version numbers could be added to this table too.

[2016-01-09 06:17] whyrusleeping commented on #18
repo version '1' belongs to a version that I think you can only build using go pre1.4. repo version '2' is everything below 0.4.0, and version '3' is version 0.4.0 and on.

[2016-01-09 10:24] jbenet commented on #18
agreed.

table:
[code]
(see https://github.com/ipfs/go-ipfs/blob/master/CHANGELOG.md#030---2015-04-20 for version 2)

[2016-01-13 03:52] jbenet commented on #14
We should have a way of making this a variable in windows
On Sat, Jan 2, 2016 at 07:03 Ilan Godik <notifications@github.com> wrote:

[2016-01-28 16:31] chriscool commented on #18
Fixed by PR #19.

[2016-01-28 16:31] #18 closed

[2016-02-15 19:36] jbenet opened #21 "make the 2-3-pins test check if objects are there too"
the 2-3pins test checks the pins but does not:
- check the objects are there
- run gc
between every change of version

it also does not remove pins objects.

an important goal of these tests is to exercise the pinset across versions, including deletion of pins and GCs that do remove some content and leave other content.

[2016-02-15 20:07] jbenet commented on #21
this migration is really critical to get right. these tests should build on this: https://github.com/ipfs/go-ipfs/issues/2343

As things are now, I'm far from certain this migration will proceed without any hitch for users. ipfs MUST NEVER lose any data, and i'm not confident in the tests yet (either for go-ipfs@0.4.0 nor fs-repo-migrations 2-3). this is going to be the first major data migration

[2016-02-15 20:50] whyrusleeping commented on #21
Hey @chriscool could you add these checks to the sharness tests here?

[2016-02-15 21:36] chriscool commented on #21
Yeah, I will take a look at adding something like that.
I wanted to add tests using the daemon first, then I looked at iptb to launch the daemon, then it appeared that iptb was not using gx yet...

[2016-02-15 21:39] whyrusleeping commented on #21
@chriscool in the meantime we can use go get to pull down iptb (`go get github.com/whyrusleeping/iptb`) it has very few external dependencies.

[2016-02-15 21:44] chriscool commented on #21
Yeah I will have another look at using iptb.

[2016-02-20 16:43] chriscool opened #24 "'ipfs-update versions' cannot resolve name"
I am getting this error now:

[code]

Any idea about what's going on?

[2016-02-20 17:20] whyrusleeping commented on #24
we're going to need to update the version of ipfs-update thats vendored in here. I think that the `update.ipfs.io` domain got removed, the newer code uses `dist.ipfs.io`

[2016-02-20 17:24] lgierth commented on #24
Ugh yep I removed it just the other day.

[2016-02-20 17:25] lgierth commented on #24
Can add it back in for a while if that makes sense

[2016-02-20 17:32] whyrusleeping commented on #24
nah, its fine. we should just update the version of ipfs-update

[2016-02-21 12:44] chriscool commented on #24
Ok I will take a look at that.

[2016-02-23 19:11] kyrias opened #26 "`go get` doesn't work due to missing .gitmodules"
[code]

[2016-03-22 20:08] jbenet opened #32 "License?"
this needs a license

[2016-03-22 23:00] #32 closed

[2016-03-30 06:04] chriscool commented on #24
This is fixed now.

[2016-03-30 06:04] #24 closed

[2016-03-30 06:08] chriscool commented on #21
So we don't use iptb but we do check the objects are there and run gc between every change of version.

[2016-03-30 06:08] #21 closed

[2016-03-30 06:19] chriscool commented on #26
@kyrias could you try again. It works for me. Thanks!

[2016-03-30 06:25] chriscool commented on #5
I cannot find the above gist anymore. I get a 404 not found.
Can someone reproduce it?

[2016-03-30 06:27] chriscool commented on #8
@harlantwood and @jbenet, now that the migration for 0.4.0 exists I think we can close this.

[2016-03-30 06:27] #8 closed

[2016-03-30 10:34] chriscool commented on #26
Actually when I try on a new machine where nothing was installed and it failed:

[code]

[2016-03-30 12:01] #26 closed

[2016-03-31 15:44] chriscool commented on #15
So right now we have a number of tests that test transition 2-to-3 and 3-to-2 in:

- t0040-migration-2-3.sh: simple v0.3.10 to v0.4.0-dev and back with a few files
- t0050-migration-2-3-pins.sh: same as previous with pins and gc
- t0060-migration-stress.sh: v0.3.11 to v0.4.0-dev and back with lots of objects and daemon running
- t0070-migration-many.sh: v0.3.7 to v0.3.10 to v0.4.0-dev to v0.3.8 to

[2016-04-20 09:15] elenadimitrova opened #37 "Migrating a specific ipfs instance"
Currently not able to upgrade an ~/.ipfs2 instance via fs-repo-migrations as this does not accept location argument for the target to upgrade.

[2016-05-05 06:09] chriscool commented on #37
Maybe a work around could be to rename the instance temporarily for the time of the upgrade.

[2016-05-05 07:46] elenadimitrova commented on #37
I already have another (default) instance so that's not an option. Plus I have already found a workaround. I listed this as an issue because it needs to be solved in the tool.

[2016-05-05 12:11] lgierth commented on #37
Try this setting `IPFS_PATH=~/.ipfs2` with the command

[2016-06-25 21:16] whyrusleeping opened #40 "migration tests broken due to 0.4.0-dev missing"

[2016-07-02 08:41] daviddias opened #41 "Trying out the repo migrations from 3 to 4"
I've managed to successfully migrate my repo_v3 to a repo_v4, but I was unable to revert it back. It seems that there is no way to revert at the high level tool

[code]

And using the dedicated binary doesn't work

[code]

I've also found it to be weird to have full word flags behind a `-` and not two, like `--verbose` instead of `-verbose`.

As a go-ipfs user, I was expecting for the installation

[2016-07-03 04:40] whyrusleeping commented on #41
@diasdavid I updated the `ipfs-3-to-4` tool to say that the `path` flag is required. I also added a note to the makefile as you said.

Thanks for the feedback :)

[2016-07-07 07:04] jbenet commented on #41
can these observations be turned into sharness tests?

[2016-07-07 20:06] jbshirk opened #43 "ipfs daemon reading wrong version"
Upgraded from version 2 to 4, and migrated repo today, but ipfs daemon is still reporting v.3. I suspect there is a problem with an environment PATH somewhere. I don't really want to downgrade the repo if not really necessary.

[code]

[2016-07-07 20:39] whyrusleeping commented on #43
@jbshirk what version of ipfs are you running?

[2016-07-07 20:40] whyrusleeping commented on #43
@jbshirk The repo version 4 is for ipfs 0.4.3. If you want to try it out, you will have to build from master for now.

The official release will be in a little over a week from now, but in the meantime, we will be providing release candidate builds (hopefully by monday)

[2016-07-09 20:19] whyrusleeping commented on #40
resolved

[2016-07-09 20:19] #40 closed

[2016-07-13 17:43] chriscool commented on #41
@jbenet I am taking a look at that...

[2016-07-13 20:38] chriscool commented on #41
Actually when you run `ipfs-3-to-4 -revert` you get:

[code]

so it looks like it failed but the exit code is 0.

[2016-08-26 03:48] jbenet commented on #41
Was this fixed? Is reverting possible?
On Wed, Jul 13, 2016 at 16:38 Christian Couder <notifications@github.com>
wrote:

[2016-08-26 06:32] jbenet opened #45 "Is this in dist.ipfs.io?"
Failed to install `0.4.3-rc3` with `ipfs-update`:

[code]

Looks like `fs-repo-migrations` latest is not yet in dist.ipfs.io. And https://dist.ipfs.io/fs-repo-migrations shows only two.

[2016-08-27 23:28] chriscool commented on #41
@jbenet: I think @whyrusleeping fixed @diasdavid 's initial problem, and that the tests you wanted and a few more small fixes were also added in PR #44, but maybe @diasdavid could check that it works now for him and maybe you could check if there are all the tests you wanted.

[2016-08-29 05:07] jbenet commented on #41
great, thanks @chriscool !

[2016-08-29 22:59] whyrusleeping commented on #45
@jbenet how old is this ipfs-update bin? (i don't think that was the issue, but its good info to have in either case)

[2016-08-29 23:12] jbenet commented on #45
- I thought i downloaded a new one. The bin said `v0.1.0`...
- Hm, but so does a fresh `v1.3.0` from dist.ipfs.io ...

[2016-08-29 23:20] jbenet commented on #45
[code]

Looks like reverting doesn't revert repo. (makes sense). But we may want to give the user instructions on how to do it.

[2016-08-29 23:23] jbenet commented on #45
but hey, seems to have worked.

[code]

(we could probably make this output more friendly)

[2016-08-29 23:30] jbenet commented on #45
So i guess close this then?

[2016-08-30 02:10] whyrusleeping commented on #45
Could you file an issue about making the output more friendly? I really
agree but I'm not good at actually detailing what that would look like

On Mon, Aug 29, 2016, 19:30 Juan Benet <notifications@github.com> wrote:

[2016-08-30 13:09] RichardLitt commented on #45
Filed https://github.com/ipfs/ipfs-update/issues/41.

[2016-08-30 13:09] #45 closed

[2016-11-08 21:34] chevdor opened #46 "Migration 3 to 4 failed"
[code]

[2016-11-08 21:42] whyrusleeping commented on #46
@chevdor did you modify the output at all? I'm interested in the full string of `CIQA23O4Q<....>7N2PPGBKBZFBUDYZA.data`. It somehow fails to parse as a valid 'new style' (base32) key.

[2016-11-08 21:44] chevdor commented on #46
I did yes.
Is it 'safe' to disclose this string entirely?

[2016-11-08 21:50] whyrusleeping commented on #46
It does identify content that you have in your ipfs node, so its safe if you don't mind associating yourself with that content. but don't worry about it. I just found the problem anyways :)

[2016-11-08 21:54] whyrusleeping commented on #46
Alright, if you feel like building from source. You can pull latest master of this repo and try it out. Otherwise i will be pushing a new release of this out fairly soon (hopefully this week).

[2016-11-08 22:08] lgierth commented on #46
That's 1e510aa6a48b7f3d6558c9116e86053b44985a2c, for the record

[2016-11-08 22:13] chevdor commented on #46
Woo awesome. I will not build right now but I will check tomorrow. That was
fast!

On Tue, Nov 8, 2016, 23:08 Lars Gierth <notifications@github.com> wrote:

[2016-11-08 22:15] whyrusleeping commented on #46
@chevdor pre-built binaries are up here: https://ipfs.io/ipfs/QmU8gYRCdbRc69B9h1yanB5LNHCc9vfsAmk8bZdMRXAJsw/

Theyre rolling out to the dists page soon, and will be pushed into the go-ipfs binaries auto-migrater sometime this week.

[2016-11-09 10:07] chevdor commented on #46
I had issues building but I tested your binary and I confirm (and thus close this issue) that you fixed the issue. Thanks a lot.

[2016-11-09 10:07] #46 closed

[2017-01-22 05:34] lgierth opened #48 "Release version 5 on dist.ipfs.io"
go-ipfs master already requires 5

[2017-01-24 04:42] gsf commented on #48
Just updated to HEAD of go-ipfs. I'm guessing this will be fixed by #47. Any workaround in the meantime?

[code]

[2017-01-24 04:47] whyrusleeping commented on #48
In the meantime, you will need to build fs-repo-migrations from source using the `feat/4-to-5` branch and then run them manually.

[2017-01-24 04:48] whyrusleeping commented on #48
the step missing in your above attempt is:
[code]

[2017-01-24 05:12] gsf commented on #48
That does it! Awesome. Thanks.

[2017-01-24 06:12] whyrusleeping commented on #48
@gsf I also shipped the new version to https://dist.ipfs.io just now. Let me know how it goes or if there are any problems!

[2017-01-24 06:14] whyrusleeping commented on #48
oh, the new version hasnt propogated to the dns entry yet, its here though: https://ipfs.io/ipfs/QmNY5KeQi9Ny9rbwQfcztQfvhCQt6jyZSJ3W911hzPwXXj/

[2017-01-25 02:20] lgierth commented on #48
it's on

[2017-01-25 02:20] #48 closed

[2017-01-25 22:49] kevina opened #50 "Recovery Notes"
Notes on recovery when the automatic migration fails:

https://gist.github.com/kevina/d39e800ddffed217ca149c600f0735e4

[2017-01-25 22:50] kevina commented on #50
@whyrusleeping not sure what to do with these so I just put in a gist...

[2017-02-12 20:14] kpcyrd opened #51 "Docker: Failed to migrate from 0.4.4 to 0.4.5"
[code]

[2017-02-12 20:46] kpcyrd commented on #51
we figured it out on irc, ipfs was downloading the glibc version, while the docker container uses musl.

@lgierth should I close this issue or do you want to keep it to track the bugfix :) ?

[2017-02-12 20:47] whyrusleeping commented on #51
Lets keep it open to track the fix

[2017-02-12 20:47] lgierth commented on #51
Can close this one, issue is in go-ipfs :+1:

[2017-02-12 20:52] kpcyrd commented on #51
For the record, I manually migrated my container:
[code]

[2017-02-14 12:52] vitlav opened #52 "failed to convert flatfs datastore (4 -> 5)"
During migration to go-ipfs 0.4.5
[code]
I got
ERROR: failed to convert flatfs datastore: remove /home/ipfs/.ipfs/blocks-v4/CIQN3: directory not empty
attempting to revert...

And I wondering about 'failed to decode entry in flatfs' lines during moving.

Details:
https://gist.github.com/vitlav/090c09353be611238574df0115ce9115

[2017-02-14 12:56] vitlav commented on #52
There are a few files put-* in blocks subdirs:
$ find /home/ipfs/.ipfs/blocks | grep -v "\.data$" | grep put
/home/ipfs/.ipfs/blocks/CIQN3/put-473695657
/home/ipfs/.ipfs/blocks/CIQGG/put-230303092
/home/ipfs/.ipfs/blocks/CIQC3/put-622440535
/home/ipfs/.ipfs/blocks/CIQJ5/put-226512362
/home/ipfs/.ipfs/blocks/CIQAS/put-758247077
/home/ipfs/.ipfs/blocks/CIQEP/put-812939647

Need I just remove all of

[2017-02-14 13:32] Kubuxu commented on #52
Yes, you can remove them. Fix for it will be released with 0.4.6

[2017-02-15 21:06] jbenet commented on #52
why is fixing the `4-5` migration blocked on `go-ipfs@0.4.6`? shouldnt the fix be in the 4-5 migration only? why cant that be fixed + released now?

[2017-02-15 21:07] Kubuxu commented on #52
Migrations itself can be, auto-migrations with daemon is planned for 0.4.6

[2017-02-15 21:10] jbenet commented on #52
why is the auto-migration not possible until 0.4.6? isn't it just a matter of releasing a new version of the binary and updating dist.ipfs.io?

[2017-02-15 21:10] whyrusleeping commented on #52
@jbenet Yeah, its not blocked on 0.4.6, we will be pushing a new version of migrations out today.

[2017-02-15 21:11] whyrusleeping commented on #52
@vitlav Those are temporary files left over from botched atomic write operations. They are completely safe to remove.

[2017-02-15 21:15] jbenet commented on #52
thanks @whyrusleeping

[2017-02-16 03:15] jbenet opened #54 "Migration backward failure"
[code]

Obviously this is wrong.

- fs-repo-migrations failed to migrate back. there is an error when checking versions. it assumes `fs-repo-migrations -to 4 -y` is only forward. and therefore ipfs-update's (normal behavior) failed.
- I think this requires fixing fs-repo-migrations.

[2017-02-16 03:15] jbenet commented on #54
cc @whyrusleeping @Kubuxu

[2017-02-16 03:20] jbenet commented on #54
This is naive: https://github.com/ipfs/fs-repo-migrations/blob/master/main.go#L157 -- it needs to be updated to allow for forward and backward migrations.

Naturally, running it manually does not work either:

[code]

- We've previously discussed that go-ipfs MAY only auto-migrate up. This is a separate discussion. this discussion is about (ostensibly) a manual migration using `fs-repo-migrations`

[2017-02-16 03:43] whyrusleeping commented on #54
@jbenet You can manually revert with the individual sub-tools (i.e. `ipfs-4-to-5`). We had previously discussed this as being okay, but i'm also fine allowing this tool to do it as well. Perhaps with an explicit `--i-know-this-is-a-revert` flag?

[2017-02-16 03:44] jbenet commented on #54
i like explicitness. i've a PR up. needs that additional flag. maybe `--revert-ok`  ?

- `ipfs-update` is really annoying to downgrade without this.

[2017-02-16 05:07] jbenet commented on #54
Also, the individual subtools are not pre-compiled (to my knowledge) so the barrier for the user gets super high super fast.

Take a look at #55

[2017-02-16 05:42] whyrusleeping commented on #54
@jbenet Yeah, agreed. It should be easier

[2017-02-20 08:36] jbenet opened #58 "ERROR: Migration Failed: no known migration supports version 5"
I get this in conjunction with `ipfs-update`:

[code]

haven't checked on its own.

(see also: https://github.com/ipfs/ipfs-update/issues/55)

[2017-03-28 21:27] eminence opened #60 "4 to 5 migration failure : rename failed no such file or directory"
Currently running:

[code]

Commit a8b56d3ad7789ca2ec12257a00d8d0408c3c0c9e

[code]

[2017-03-29 00:21] whyrusleeping commented on #60
Hrm... I thought we resolved this.

cc @Kubuxu @kevina

[2017-03-29 00:36] kevina commented on #60
Of hand I am not sure what is going on.  The only thing I can think of is that an IPFS (or some other process) was modifying the datastore at the same time, but I would think the lock would avoid that.

[2017-03-29 00:57] eminence commented on #60
there are no other IPFS processes running

[2017-03-29 01:31] kevina commented on #60
okay we worked it out over irc:  it looks like the problem was some files left over from an old migration (or something) in the blocks directory that where confusing the migration tool:
[code]

[2017-03-29 01:36] eminence commented on #60
I confirm that after removing these two file, the migration was successful, and my daemon is running once again.  Many thanks to @kevina

[2017-03-29 17:10] whyrusleeping commented on #60
@kevina how do we want to handle this better? We should probably detect this scenario and notify the user

[2017-03-29 17:26] kevina commented on #60
The best thing to do would be to provide a better error message.  When a file is not found, determine if the reason is because a block is not stored in the correct location based on the shard function and give a clear indication of the fact and suggest the user moves the file out of the datastore directory.

I am guessing that this files exist based from some old test code and this is not a situat

[2017-03-29 17:27] whyrusleeping commented on #60
@kevina cool, could you PR in that change?

[2017-03-29 17:32] kevina commented on #60
I will p.r. go-ds-flatfs since that is where the change needs to be.

[2017-04-25 22:57] lgierth opened #61 "sharness: ipfs-update disregards GOPATH"
I somehow ended up with go-ipfs v0.4.4 installed in my regular gopath, just running tests in a vanilla clone.

[2017-06-24 22:42] lgierth opened #63 "Release blocker: test suite broken"
The merge of #53 was the first one breaking the test suite. I fixed the first error in f1d82ebab2adc55723c8673684802265824e4fce but there's more which are more complicated :(

This blocks any further fs-repo-migrations releases.

[2017-06-26 17:43] #63 closed

[2017-07-14 14:42] caellach opened #65 "Data folder trying to be renamed to the same name on Windows"
While testing some changes to ipfs-update, this was output from fs-repo-migrations.
(Note: I bypassed the checks in ipfs-update to test fs-repo-migrations execution on Windows, but I don't have old data to migrate so I'm not sure yet why it's starting w/ v1 in that case since I should only have the latest IPFS data version)

    fetching go-ipfs version v0.4.10
    binary downloaded, verifying...

[2017-08-03 18:09] kevina opened #66 "go test ./... fails"
`go test ./...` fails for various reasons

One of them is dependency problems.
[code]
Note, that one of the ideas (I think) behind fs-repo-migrations was that all dependences should be checked in (@whyrusleeping is this correct?)

Also note that one of the failed dependence is with a test of a dependency.

Another are broken tests:
[code]
Note that the broken test is inside a dependency.

Note the

[2017-08-05 00:41] ghost opened #67 "Add /dnsaddr bootstrap addresses in 5-to-6 migration"
Hey @kevina, I mentioned on IRC that there's another config change I'd like to get into the 5-to-6 migration. Sorry I'm bringing this forward at the 11th hour. At least it only simply adds list values, and doesn't do any structural changes.

What I have in mind is adding `/dnsaddr` addresses for each of the default QmSoL bootstrappers. The current addresses are very fragile since they are coupled

[2017-08-05 06:56] kevina commented on #67
@lgierth I am not familiar with the networking code in IPFS so I am not that comfortable doing this, but if push comes to shove I like I can do it

However, I am also lacking context, is this something that was discussed with @whyrusleeping or others?  Is this something that is generally wanted?

[2017-08-31 16:04] NfNitLoop opened #70 "fs-repo-migrations upgrades to an unsupported version"
Scenario
---------

 * I haven't used ipfs in ages.
 * `ipfs` tells me I need to run a migration.
 * I download and run fs-repo-migrations
 * It upgrades me to repo version 6

Issue
-----

 I'm running the the latest version of `ipfs` from Homebrew, which only supports repo version 5:

[code]

And `fs-repo-migrations -to 5` doesn't work.   I got some suggestions for how to downgrade manually in #i

[2017-09-23 01:31] jbshirk commented on #70
I have a similar issue:
haven't used ipfs in ages. run the migration tool (today). install the latest ipfs. start daemon:

MacBook-Pro-4:Downloads joe$ fs-repo-migrations/fs-repo-migrations
Found fs-repo version 4 at /Users/joe/.ipfs
Do you want to upgrade this to version 6? [y/n] y
===> Running migration 4 to 5...
applying 4-to-5 repo migration
locking repo at "/Users/joe/.ipfs"
  - verifying ver

[2017-10-08 23:11] jbshirk commented on #70
my IPFS is dead :(

[2017-10-09 17:44] Kubuxu commented on #70
go-ipfs 0.4.11 which uses version 6 was released about two weeks ago.

[2017-10-09 17:45] Kubuxu commented on #70
Check you go-ipfs version `ipfs version --all`.

[2017-10-14 19:00] fstirlitz opened #71 "The '386' migration binaries contain SSE2 instructions"
Although they are advertised as '386', the migration binaries for the, um, x86-32 architecture contain SSE2 instructions, which generate an 'illegal opcode' exception on CPUs older than Pentium 4 (i786). (And possibly some instructions that will crash even that; I haven't checked.) This may leave users unable to actually use the IPFS software after upgrading:

[code]

Compiling for an older subarc

[2017-10-20 12:02] jbshirk commented on #70
$ ipfs version --all
go-ipfs version: 0.4.3-dev-33510a9
Repo version: 4
System version: amd64/darwin
Golang version: go1.6.3

[2017-10-20 13:49] Kubuxu commented on #70
ipfs 0.4.3 is ancient. Please upgrade to 0.4.11 from https://dist.ipfs.io/#go-ipfs

[2017-12-17 01:34] jbshirk commented on #70
Obviously what I am trying to do is upgrade. It isn't working. Are you saying 4.11 properly convert my 4.3 files? Or am I just going to lose my ID and files?

[2018-02-11 15:14] Kubuxu commented on #70
Just run use the most recent go-ipfs version. It will work.

[2018-06-07 06:37] kevina opened #73 "6-to-7 migration does not lock repo or check version"
In `func (m Migration) Apply(opts migrate.Options) error` I was expecting to see lines similar to:
[code]
I am not sure if the Lock is necessary here, and I suppose the version check is not required because the repo is opened with `go-ipfs` code.  However, if there is a repo mismatch, it will create a confusing error as to run the migration, from within the migration code itself!

I am opening thi

[2018-06-07 06:42] kevina opened #74 "Put vendored gx dep. at top level"
Right now there are a large number of vendored gx dependencies in `fs-repo-migrations/ipfs-6-to-7/vendor/gx/ipfs/'.  Could we move those to `fs-repo-migrations/vendor/gx/ipfs/`.

I need to make use of many of the same gx deps. in my migration code and want to avoid checking in the same files in two places.

CC @Stebalien

[2018-06-07 17:40] Stebalien commented on #73
Correct.

Well, a message to run a different migration, however, yes, it really should state which one. For example:

"repo migration needed: repo has version X, expected repo with version Y"

IMO, we should put this error in go-ipfs itself.

[2018-06-07 17:51] Stebalien commented on #74
So, to reduce the size of the repo, I trimmed those deps down to exactly what I needed (stripping unused packages). If we move that up, we'll have to import the *full* deps. We can do that, it's just large (90MiB versus 15MiB, IIRC).

However, you're probably right. Feel free to move them.

Note: I figured that any future migrations will use different gx deps as they'll likely depend on different

[2018-06-07 21:07] kevina commented on #74
Can missing packages within a gx dep, cause a change in behavior that does not result in an error.  If the only change is an error I don't see a problem with leaving them incomplete, if parts a package is missing it can be added later.

If it is necessary to vendor the full deps, than maybe we should keep them where they are and possible use symbolic links, although I am not sure if that will work

[2018-06-08 00:50] Stebalien commented on #74
I don't think so... the main worry is that we should avoid *changing* existing migrations after creating them. We don't want to update the deps and silently break some old migration (can't assume the test cases will catch everything).

In this case, it's not an issue because:

1. We *just* added the 6-7 migration.
2. We're *deliberately* changing a previous migration.

I'm mostly worried about acc

[2018-06-08 02:09] kevina opened #75 "Create utility to deal with insecure/idenity hashes"
The combination of us releasing a version of go-ipfs that almost forbids insure Cids but doesn't go as far as purging them from the datastore, and the release of the 6-to-7 migration created a messy situation.

There are several problems, the main one is that there is no good automatic way to deal with pinned insecure Cids. I would like to abort and tell the user to unpin them manually.  To give t

[2018-06-13 07:00] kevina commented on #74
@whyrusleeping the problem is we need just hand picking the gx deps, but leaving out packages within a dependency, espacally inside the `go-ipfs` dep.  If we do this at the top level, this could create a potential conflict if that dependency is used by another version of the migration tool.  I am already running in his problem with the `6-to-7` migration tool I am working on.

[2018-08-20 12:02] olizilla opened #79 "6-to-7 repo migration error"
I hit an error trying to upgrade my go-ipfs today.

[code]

I've tried it with `ipfs daemon` running, not runnning, with sudo, without sudo. Is there anything else I should try or is there a bug I can help diagnose?

[2018-08-20 13:25] schomatis commented on #79
@olizilla Take a look at https://github.com/ipfs/go-ipfs/issues/5191#issuecomment-402830270 to see if it helps (this may be a duplicate of that closed issue, which, reading the final comments, I'm now thinking that maybe it should stay open).

[2018-08-20 13:38] olizilla commented on #79
Thanks @schomatis! I ran `ipfs-update install v0.4.17` and it worked.

[2018-08-20 13:41] schomatis commented on #79
Great, I'll close this issue (as it's indeed a duplicate of that one) and I'll ask there if that one could be reopened.

[2018-08-20 13:41] #79 closed

[2018-10-05 10:29] magik6k opened #81 "Figure out datastore plugin support"
While this isn't really an issue now, but it soon may be as datastore plugin support got merged recently.

With how the go plugin system works, we won't be able to load the plugins here, so we need to figure out a way of working with custom datastores:

* Rewrite migrations as a go-ipfs plugin
  * We'd need to provide builds of fs-repo-migrations for every version of go-ipfs, so the downgrade path

[2018-10-19 12:26] erkinalp opened #82 "fs-repo-migrations not present in Ubuntu snap"
If you install `ipfs` from `snap` and upgrade it, repo migration fails and you are stuck with an unusable IPFS data.

[2018-11-08 12:51] Maxzong opened #83 "ipfs-desktop error about lower version - Running Repo Migrations"
Hit an error after the migration with fs-repo-migration.

Yesterday, I  upgraded ipfs version from 0.4.15 to 0.4.18, according to the manual of IPFS- Update, finished migration job before that.  Everything seemed fine before I restarted my mac this morning. There was an error msg popped up for couple of times before ipfs-desktop quit by itself.  The msg list below（the screenshot picture is attache

[2018-11-08 19:52] Maxzong commented on #83
thanks Allen, I'll file it there.

| |
nightrock
邮箱：nightrock@126.com
|

Signature is customized by Netease Mail Master

On 11/09/2018 03:23, Steven Allen wrote:

You'll need to file this issue on https://github.com/ipfs-shipyard/ipfs-desktop/issues. I'm guessing ipfs-desktop assumes the previous repo version.

—
You are receiving this because you authored the thread.
Reply to this email directly,

[2019-04-01 19:12] Stebalien opened #85 "Migration Batch"
* https://github.com/ipfs/fs-repo-migrations/pull/84
* https://github.com/ipfs/go-ipfs/issues/5905
* https://github.com/ipfs/go-ipfs/pull/6141 (need to pre-apply the existing provider strategy).

cc @Kubuxu, @michaelavila as the current DRIs for these migrations.

[2019-04-08 13:03] Derrick- opened #86 "Badger counter panic"
Crash during pin add:

[code]

If related, server was in the process of pinning a directory with 2094 files with a cumulative size of 18Gb, 541 child blocks, happened at about 30% progress.

`pin add -r --progress QmW3fQ76LmpCQ3DMDQF21dB2ZGsp9cGuDKMxobrUQpmsuq`

[code]

Config is profile badgerds,server
[code]

[2019-04-08 13:19] Derrick- commented on #86
Oops wrong repo. Please delete.

[2019-04-08 13:19] #86 closed

[2019-04-12 03:29] Sam3281 opened #87 "ipfs migration failed on windows"
I want to run go-ipfs version: 0.4.20-rc1-5880b3075-dirty, but it mention i should migration to Repo version: 7 .

And then an error occur:

ipfs migration: migration 1 to 2 failed: rename E:\go_work\ipfs E:\go_work\ipfs: Access is denied.

Here is the details of the log:
![image](https://user-images.githubusercontent.com/49011306/56010207-53045500-5d15-11e9-9dfc-ff74098dcb92.png)

I don't know th

[2019-04-12 03:46] djdv commented on #87
It certainly seems like one.
I tried to initialize a repo, and revert the migrations and received similar errors at the same migration bridges (and more).

[code]

[2019-04-12 04:23] Stebalien commented on #87
@Sam3281 when did you last update go-ipfs?

[2019-04-12 06:37] Sam3281 commented on #87
@Stebalien My last update of go-ipfs is today

[2019-04-12 14:01] djdv commented on #87
I looked into this a little and some of the early migration faults seem to be related to bugs that where fixed, but are retained via Godep versioning for the various migration methods.
Backporting critical fixes seems like the right thing to do in this case.

However, the bigger issue seems to be why your repo thinks it's v1.
Can you post more details about your version history, anything special a

[2019-04-18 06:24] Sam3281 commented on #87
I try again by newest version, the bug occur by following steps:
1. Check out newest source code(check out today)
2. I got an error when make install
![image](https://user-images.githubusercontent.com/49011306/56340663-281e7300-61e5-11e9-9680-2ab78c8809d0.png)
3. Then i edit the plugin\loader\preload.sh and add follow lines to that file. The compile is passed.
	pluginipldgit "github.com/ipfs/go-ip

[2019-04-18 15:40] djdv commented on #87
Those dependencies are included by default here: https://github.com/ipfs/go-ipfs/blob/master/plugin/loader/preload_list
so a build should succeed on unmodified master.
It may be best to run `git clean -fdx`, and check out the latest master again, making sure nothing has diverged from the source.

Using the MSYS2 setup here: https://github.com/ipfs/go-ipfs/blob/master/docs/windows.md
results in a s

[2019-04-29 13:20] Kubuxu commented on #85
One more thing is removal of invalid cids from blockstore.

[2019-04-29 16:29] AuHau commented on #85
Do you want me to do something for this?

I could integrate the ipfs/go-ipfs#5905 as it seems quite straight forward. Not sure, if I am able to do something about ipfs/go-ipfs#6141. If you could provide more info about "invalid CIDs" I could work on that too.

[2019-04-30 19:06] Kubuxu commented on #85
The invalid CID's would be moving objects which do not pass checks in https://github.com/ipfs/go-verifcid from `/blocks` datastore namespace to separate directory/flatfs (directory under `IPFS_PATH` named `.insecure_blocks`).

If you want to handle some of them, it would be great.

[2019-05-01 15:24] AuHau commented on #85
Alright, I have to put my focus somewhere else for now, but hopefully, in two weeks I will be able to have a look on this. If somebody will take a stab before it, feel free and just please let me know so the work is not duplicated ;-)

[2019-06-05 09:19] Joe0826 opened #88 "Error: unknown datastore type: flatfs"
My computer is Windows 10 64bit, I have been rebuild a new IPFS.exe fellow the stop of https://github.com/ipfs/go-ipfs/blob/master/docs/windows.md#minimal. There are no problem during the process  and result can see:
![image](https://user-images.githubusercontent.com/32236734/58945029-9dee9600-87b5-11e9-8476-d9265fce3a2b.png)
But when I want run the .\ipfs.exe  in cmd, it show like this:
![image](

[2020-01-30 10:16] hsanjuan commented on #87
Closing as old and no updates from author, re-open as necessary

[2020-01-30 10:16] #87 closed

[2020-01-30 10:23] hsanjuan commented on #82
How does the migration fail? The binaries are downloaded on demand, so it is fine that they are not present in the snap.

[2020-01-30 10:25] #70 closed

[2020-01-30 10:26] #74 closed

[2020-01-30 10:42] hsanjuan commented on #71
I am not sure what would cause the migrations to use SSE2 instructions and not go-ipfs itself to use them. We use `linux 386` to build both.

I am going to close this as this is old, but I'd encourage you to test and re-open if things happen.

[2020-01-30 10:42] #71 closed

[2020-01-30 10:48] hsanjuan commented on #65
Likely an issue of trying to migrate something that does not need migration. I'm closing for the moment.

[2020-01-30 10:48] #65 closed

[2020-01-30 10:49] hsanjuan commented on #61
with go modules etc I'm closing this one.

[2020-01-30 10:49] #61 closed

[2020-01-30 10:50] hsanjuan commented on #54
I'm closing as original issue is fixed, and there's an issue about documenting downgrades.

[2020-01-30 10:50] #54 closed

[2020-01-30 10:52] #52 closed

[2020-01-30 10:52] #41 closed

[2020-01-30 10:52] #5 closed

[2020-01-30 10:57] hsanjuan commented on #14
Probably fixed in f15601c4

[2020-01-30 10:57] #14 closed

[2020-01-30 10:58] hsanjuan commented on #16
See linked issue in linked issue

[2020-01-30 10:58] #16 closed

[2020-01-30 10:59] hsanjuan commented on #37
That should work.

[2020-01-30 10:59] #37 closed

[2020-01-30 11:00] #43 closed

[2020-01-30 11:01] hsanjuan commented on #50
Closing, I don't see actionables that will be worked on and hopefully no one needs to run those migrations at this point.

[2020-01-30 11:01] #50 closed

[2020-01-30 11:01] #58 closed

[2020-01-30 11:01] #51 closed

[2020-01-30 11:24] hsanjuan opened #93 "Consider deprecating old migrations"
* No one should be having to upgrade from really old versions
* Users can always download an old version of `fs-repo-migrations` (workarounds exist)
* Reduce maintenance burdens, code-size, binary size, number of tests
* Cannot realistically spend time helping users on go-ipfs versions from 2 years ago
* 5-to-6 migration is from 2017
* 6-to-7 is from June 2018
* Suggest to keep anything from 7 upw

[2020-01-30 17:36] hsanjuan commented on #93
Unfortunately, anything that directly or indirectly depends on badger will break with:

[code]

This happens because old migrations have old gxed versions of things.

[2020-01-30 17:48] Stebalien commented on #93
Hm. Annoying. We could change how we vendor the trace library...

We really can't deprecate old migrations. Users may have old archived repos sitting around and we want to support reading from these repos.

[2020-01-30 19:11] hsanjuan commented on #93
I hacked it so things work for now. It will probably be a pain to align all migration submodules to use the same net/trace in the future, but for now things are ok.

[2020-01-30 19:44] #12 closed

[2020-01-30 19:46] #66 closed

[2020-03-13 11:03] hsanjuan opened #98 "Plan proposal for future of fs-repo-migrations"
## State of the art

`fs-repo-migrations` is a binary that knows how to migrate repository versions since version 1 to soon-to-be version 9.

Each individual migration is a go-module (and a go executable) but they are all wired together in `fs-repo-migrations`, which is published on dist.ipfs.io and consumed by `ipfs` and `ipfs-update` (in very similar ways) when a migration is necessary (either b

[2020-05-12 18:24] stensonb opened #100 "404 Not Found - for migration on OpenBSD"
I'm in the process of updating the ipfs package/port for OpenBSD, and have noticed fs-migrations fail.

The current package/port builds ipfs-0.4.22, and when attempting to run the ipfs-0.5.1 binary (easily built with `make build`), I see the following error:

[code]

I'd like for this to work so updating a the go-ipfs package from the older (0.4.22) version to the newer (0.5.1 and beyond) will "ju

[2020-05-12 18:33] stensonb commented on #100
Downloading this repo, and running the migration manually seems to work fine:

[code]

So, perhaps we just need to add the openbsd GOOS binary here?

[2020-05-12 19:04] Stebalien commented on #100
We distribute through https://github.com/ipfs/distributions which doesn't appear to support OpenBSD. I'll look into adding support now.

[2020-05-12 23:20] Stebalien commented on #100
Fixed and released. Note: I've also uploaded OpenBSD binary builds to dist.ipfs.io.

[2020-05-12 23:20] #100 closed

[2020-05-13 01:10] stensonb commented on #100
tested and confirmed from my end.  thanks!

[2020-05-13 08:10] stensonb commented on #100
strange...it _was_ working...now I'm getting a 404 again. :(

[2020-05-13 08:18] Stebalien commented on #100
What architecture? Could also just be DNS issues.

[2020-05-13 08:23] stensonb commented on #100
OpenBSD amd64

$ curl https://ipfs.io/ipfs/QmUgfXycSjF9R8F4Tyauaz6LZ4bj5nbksg54G9GdF4fit6/fs-repo-migrations/v1.5.1/fs-repo-migrations_v1.5.1_openbsd-amd64.tar.gz

[2020-05-13 14:43] Stebalien commented on #100
Ah... I forgot. go-ipfs hard-codes the dist URL so we can't really fix this without a release.

Options:

1. Download and run the migrations manually.
2. Ship the migration binary along with go-ipfs.
3. Set the IPFS_DIST_PATH env variable to a new URL with the migrations. Specifically, https://ipfs.io/ipfs/QmXuKUDChMXkcq36CbaggvY3UaAtgpi7yyoAiNy5VD9Dfr.
4. Apply https://github.com/ipfs/go-ipfs/pul

[2020-05-13 18:07] stensonb commented on #100
makes sense to me.  i just verified #3 works.  i'll work to add a patch to the code locally when building for OpenBSD (#4).

thank you.

[2020-09-20 12:35] pontiyaraja opened #107 "7-to-8 repo migration failing with null Bootstrappers"
Please refer here :
https://github.com/ipfs/go-ipfs/issues/7676

Initializing daemon...
go-ipfs version: 0.6.0-53971d664
Repo version: 10
System version: amd64/darwin
Golang version: go1.14.4
Found outdated fs-repo, migrations need to be run.
Run migrations now? [y/N] y
  => Looking for suitable fs-repo-migrations binary.
  => None found, downloading.
  => Running: /var/folders/yl/5sr1t26d27ddbrx5

[2020-09-29 16:20] aschmahmann commented on #107
There was a bug introduced in #97 where we broke migrations with nil (instead of `[]`) Bootstrappers by returning nil because then we don't write anything to the output file. We can fix this by doing `out.Write(data); return nil` instead.

[2020-09-29 17:46] Rutvik1995 opened #109 "Datastore: key not found"
There was some kind of upgradation or migration. When I starting my IPFS daemon server. I am getting datastore not found error. Please can one can help me solving this issue.

---

Rutviks-MacBook-Pro-2:~ rutvikpatel$ ipfs daemon
Initializing daemon...
go-ipfs version: 0.7.0
Repo version: 10
System version: amd64/darwin
Golang version: go1.14.4
Found outdated fs-repo, migrations need to be run.
Ru

[2020-09-29 17:56] aschmahmann commented on #109
@Rutvik1995 what version of go-ipfs are you upgrading from, and do you mind posting your config (make sure to remove your private key)?

[2020-09-29 18:31] Rutvik1995 commented on #109
@aschmahmann I am pretty new to IPFS and can guide me tell me how do I can see my config file on mac. Earlier everything was working file. When I started my ipfs daemon error occur and told me go to some git repo for migration. I was still getting error version 10 but its still 2 type of error.

[2020-09-29 19:03] aschmahmann commented on #109
The config file lives in YourRepo/config (e.g. ~/.ipfs/config). You can also see it using `ipfs config show` (assuming your older version of go-ipfs supports that command).

It looks like you've recently upgraded from a very old version of go-ipfs (e.g. 4-5 years old). Which version of go-ipfs was it (you can tell by running ipfs version using your old go-ipfs binary)?

[2020-09-29 20:46] Rutvik1995 commented on #109
Hey @aschmahmann Thank you guiding me
The IPFS config commands works for me and I am getting this thing.

{
  "API": {
    "HTTPHeaders": null
  },
  "Addresses": {
    "API": "/ip4/127.0.0.1/tcp/5001",
    "Gateway": "/ip4/127.0.0.1/tcp/8080",
    "Swarm": [
      "/ip4/0.0.0.0/tcp/4001",
      "/ip6/::/tcp/4001"
    ]
  },
  "Bootstrap": [
    "/ip4/104.131.131.82/tcp/4001/ipfs/QmaCpDMGvV2BGHeYE

[2020-09-30 03:25] Rutvik1995 commented on #109
Hey @aschmahmann,  Thank You for your above suggestion and reviewing my problem. Sorry that I was not able to explain problem is clear and good manner.

I removed the old directory by this command
 $ rm -R  ~/.ipfs/

Then started run
$ ipfs init
command

then started
$ipfs daemon
go-ipfs version: 0.7.0
Repo version: 10
System version: amd64/darwin
Golang version: go1.14.4
Swarm listening on /ip4/1

[2020-09-30 03:25] #109 closed

[2020-09-30 15:09] aschmahmann commented on #109
@Rutvik1995 glad you're up and running with the latest go-ipfs.

Thanks for the report it seems likely that manually changing the datastore path was causing you problems. If anyone else runs into something similar they can reopen or create a new issue.

[2020-09-30 16:02] #107 closed

[2020-10-01 03:38] pontiyaraja commented on #107
Thank you @aschmahmann

[2020-10-01 04:59] aschmahmann commented on #107
No problem, a binary release should be out on dist.ipfs.io later this week or you can just build the source on your own

[2020-10-16 17:12] lordcirth opened #110 "fs-repo-migrations takes no argument or envvar for IFPS_PATH and only looks in $HOME/.ipfs"
When trying to upgrade from go-ipfs 0.4.23 to 0.6.0 on NixOS, where IFPS_PATH is /var/lib/ipfs by default, running fs-repo-migrations fails:

[code]

Not surprising, but fs-repo-migrations --help shows nothing about changing this path; giving it as an argument is ignored, and setting IPFS_PATH does nothing either. I ended up running:

`[lordcirth@atlas:/var/lib/ipfs]$ sudo ln -s . .ipfs`

to work

[2020-10-19 17:18] Stebalien commented on #110
fs-repo-migrations does look at IPFS_PATH so I'm not sure what's going on here. Are you sure something else isn't resetting IPFS_PATH (e.g., some NixOS translation)?

[2020-10-20 11:16] djdv commented on #110
For what it's worth, I run the migrations via the utilities in the subdirectories (`fs-repo-migrations/ipfs-8-to-9`, etc.) Which not only allow this, but require it.

[code]

[2020-10-22 17:13] lordcirth commented on #110
Thanks, it looks like this was my fault. I just tested it again today and it worked, so I must have made some simple mistake.

[2020-10-22 17:13] #110 closed

[2020-10-22 22:59] mrusme opened #111 "failed to download latest fs-repo-migrations"
I previously had an older version (`0.5.1`) of IPFS running. After upgrading to `0.7.0` I get the following error:

[code]

[2020-10-23 06:14] aschmahmann commented on #111
@mrusme weird, it looks like there is something going on here related to the version of Linux you're running and how we work with it.

It seems from https://github.com/ipfs/go-ipfs/pull/3698 that for some reason your version of Linux might not work with the normal Linux fs-repo-migrations binary. It looks from https://github.com/ipfs/go-ipfs/pull/4219 that while we added in this musl based hack fo

[2020-10-23 21:55] aschmahmann commented on #111
@mrusme I've put up a PR to go-ipfs (https://github.com/ipfs/go-ipfs/pull/7735) to clarify that linux + musl isn't supported at the moment (may still tweak the wording there a bit or add more documentation).

As mentioned above: If you build this repo locally and put the fs-repo-migrations binary in your path it should work just fine. Additionally, if you're using an alpine docker image you could

[2020-10-23 21:55] #111 closed

[2020-10-23 22:17] mrusme commented on #111
@aschmahmann thank you for the insightful explanation and quick resolution! Indeed, I'm using Alpine here. I will give manual building a try. If that doesn't work, I'll simply switch to `-buster`, thank you!

[2020-11-06 05:38] Centaro0 commented on #60
Where were the files located? I am having the same problem in 2020, but mlocate cannot find these files in my machine.

[2020-11-06 05:43] Centaro0 opened #113 "One more fs-repo-migrations issue"
Hello everyone, I have had this problem for a couple of months now, and I have tried looking for possible solutions, but I didn't really find anything :man_shrugging: Does anyone know what the problem might be?

Initializing daemon...
go-btfs version: 1.4.0-68f24b1
Repo version: 10
System version: amd64/linux
Golang version: go1.14.9
Found outdated fs-repo, migrations need to be run.
  => Looking

[2020-11-06 06:10] aschmahmann commented on #113
This error is being triggered by btfs trying to use fs-repo-migrations. The maintainers of this repo do not support btfs or know what they're doing with fs-repo-migrations.

[2020-11-06 06:10] #113 closed

[2020-12-11 20:14] gammazero commented on #98
Proposing one modification to the proposal:
1. `fs-repo-migrations` will not be deprecated, but will be changed so that it knows how to download the necessary migration binaries from the distribution site, unpack and run them in sequence to perform a migration.  This will be done using logic that is common to `go-ipfs` and `ipfs-update`.  This way a user will not have to download and run individua

[2021-01-01 00:04] rjy7wb opened #114 "repo not on default path"
I have a repo that is on a separate drive and I see no options to specify a separate path, this also ignores the $IPFS_PATH environment variable

[2021-01-03 06:50] aschmahmann commented on #114
@rjy7wb can you give more information? What version of fs-repo-migrations are you using, what OS are you using?

Setting IPFS_PATH works for me just fine on Linux (Ubuntu 20.04.1) using the latest fs-repo-migrations (v1.7.0)

[2021-01-03 17:09] rjy7wb commented on #114
sorry i think i solved this by using the tool directly, it was not working when being invoked through go-ipfs after updating to a version that required an update to the fs.

[2021-01-12 13:21] twdragon opened #115 "Lockfile detection failure on Debian"
Using the last snapshot of source code, I compiled the tool on Debian Buster x86. But it is now impossible to migrate the repository because the locking engine reports the lockfile size is not zero. This issue happens also with the LevelDB datastore selected for the repository. So the only working one is BadgerDS but I am not able to use it on such an old machine. Do you know the possible workarou

[2021-01-12 13:58] djdv commented on #115
I encountered this problem recently as well, on both Solaris and Windows when trying to migrate from 10-11.
On my Solaris machine I looked through the code and realized it's mistaken, patched out the check, and everything seemed to work fine.
But obviously **I don't recommend doing this** since you're circumventing the entire point of the lock mechanism.
This is the diff I applied though. (the top

[2021-01-12 14:17] aschmahmann commented on #115
Thanks for the report. I'm pretty sure this is a bug in the 10-11 migration where we end up locking twice since we both take a manual lock and `fsrepo.Open`.

@gammazero do you mind taking a look at this? I suspect if you compare 10-11 with 6-7 which also uses `fsrepo.Open` the fix (which is likely just removing the manual lock) will pop out.

[2021-01-15 19:33] #115 closed

[2021-01-20 04:47] gammazero commented on #98
This feature (overhaul of migrations) is implemented in the following PRs:
- https://github.com/ipfs/distributions/pull/327
- https://github.com/ipfs/go-ipfs/pull/7857
- https://github.com/ipfs/ipfs-update/pull/134
- #116

All tests are currently passing using the following IPFS distribution, which is not currently pointed to by our distribution site:
/ipfs/QmXt92hFRuvQgFhgHoaMxC4wLFcvKsCywQPTNmPY

[2021-01-20 17:53] gammazero commented on #73
This issue is handled by #116

[2021-01-21 02:22] gsp-hub opened #118 "Using fs-repo-migrations to migrate the warehouse results in an alarm on the Web UI: Failed to process your request. Please try again."

[2021-01-21 02:30] gsp-hub commented on #118
This is the prompt after ipfs daemon

System version: amd64/linux
Golang version: go1.14.4
Found outdated fs-repo, migrations need to be run.
Run migrations now? [y/N] y
  => Looking for suitable fs-repo-migrations binary.
  => Running: /home/mds/go/bin/fs-repo-migrations -to 10 -y
Found fs-repo version 7 at /home/mds/.ipfs
===> Running migration 7 to 8...
applying 7-to-8 repo migration
locking re

[2021-01-21 07:31] gammazero commented on #118
@gsp-hub Hello, I have a few questions that may help us look into this issue.

- Can you please clarify what you mean by:

- Is the ipfs daemon running after completing the migration?
- Can you get files using `ipfs get <hash>`?
- Does restarting the browser have any effect?
- Does restarting the ipfs daemon have any effect?
- Did you run gc before or after running migrations?

[2021-02-24 03:41] stevebanik opened #120 "Already At Target Version Number"
I'm unable to start the daemon due to a version error.  I ran fs-repo-migrations but it says I'm already at the target:

`stacktrace:fs-repo-migrations stacktrace$ ll
total 108912
-rwxr-xr-x  1 stacktrace  staff  55761744 Jan 28 18:48 fs-repo-migrations
stacktrace:fs-repo-migrations stacktrace$ ./fs-repo-migrations
ipfs migration: already at target version number
stacktrace:fs-repo-migrations stac

[2021-02-24 18:48] evanstucker-hates-2fa opened #121 "fs-repo-migrations doesn't appear to work in alpine containers"
I get a "not found" error when I run this in an Alpine Linux container:
[code]
But following the same steps, it works in Ubuntu:
[code]
This is presumably because Alpine uses musl instead of glibc.

Can we either provide a binary that works on Alpine, or improve the "not found" error message to something like "This requires glibc. It won't work on Alpine Linux."

[2021-02-25 06:46] DeedleFake opened #122 "10-to-11 migration fails with s3ds plugin"
I have a custom compiled IPFS image using `v0.8.0` with `v0.7.0` of the `go-ds-s3` plugin bundled in, as per the instructions in `go-ds-s3`'s README. When I try to run the new version after upgrading from `v0.7.0`, I get the following log output:

[code]

The only thing that I was able to find that was similar was ipfs/go-ipfs#6416, but it was closed without being resolved, presumably because the

[2021-02-25 06:59] DeedleFake commented on #122
I've managed to get my node back up and running by rolling back to `v0.7.0` with `v0.6.0` of the plugin, but I'd definitely like to know how to update, if it's at all possible.

[2021-02-26 01:36] Soundtoxin commented on #120
I just hit the same snag. I guess in my case the arch package is a little old.
I did this: `fs-repo-migrations -to 10 --revert-ok`

[2021-02-26 02:27] Stebalien commented on #122
The repo migration tool will load any plugins present in your repo (or it should), but won't be able to use plugins built into go-ipfs itself. The simplest solution is to build a copy of the s3 plugin and drop it into your repo.

Otherwise, you could try building the migration tool with s3 support. If this doesn't work, I can try walking you through that process.

[2021-02-26 03:50] godcong commented on #122
@Stebalien
I also failed to migrate using badger/v2

===> Running migration 10 to 11...
applying 10-to-11 repo migration
  - opening datastore at "D:\\workspace\\ipfsdata"
ipfs migration:  migration 10 to 11 failed: cannot open datastore: unsupported badger version, use github.com/ipfs/badgerds-upgr
ade to upgrade: manifest has unsupported version: 7 (we support 4).
Please see https://github.com/d

[2021-02-26 15:23] aschmahmann commented on #121
Yes.

You get a musl-related error when trying to upgrade using go-ipfs itself although I guess adding more checks in here could be done as well.

Out of curiosity/trying to understand user flow, why did you end up manually downloading the binary from dist?

[2021-02-26 16:27] lidel commented on #120
@stevebanik can you check if you have an old version of `fs-repo-migrations` on your `PATH`? (`which fs-repo-migrations`)
Is the problem is still present when you remove the old stale version?

[2021-02-26 16:52] evanstucker-hates-2fa commented on #121
I am running the linuxserver.io IPFS image and I was just trying to grab a binary to do the migration inside an existing docker image. See more here: https://github.com/linuxserver/docker-ipfs/issues/4

I did try the "go get" method inside that image, but I got an error:
[code]
This is really weird... I see that it works fine in a base alpine image:
[code]

[2021-02-26 17:02] evanstucker-hates-2fa commented on #121
Ah ha! It's a problem with alpine:3.12!
[code]
It's works correctly in alpine:3.13:
[code]

[2021-02-26 17:05] evanstucker-hates-2fa commented on #121
Looks like my original issue has been solved by the maintainer upgrading to alpine:3.13: https://github.com/linuxserver/docker-ipfs/issues/4

You can close this issue. Just know that "go get" doesn't work for alpine:3.12... I don't know if this is a well known issue or not.

[2021-02-26 17:44] Stebalien commented on #122
@godcong badger v2 isn't supported. Please open a new issue so we can discuss possible solutions.

[2021-02-28 01:37] DeedleFake commented on #122
@Stebalien

I think that I'm going to need to go with this. I'm bundling the plugin into IPFS by building a Docker image on a different machine and then uploading that. I tried building the plugin in a container from the same base image (`golang:1.14.4-buster`), but when I tried to run it I got

[2021-02-28 02:07] aschmahmann commented on #122
Hmmm... maybe that error is showing up because the latest version of `fs-repo-migrations` is not built against go-ipfs v0.8.0, but an earlier RC (there's a bit of a circular dependency between go-ipfs and fs-repo-migrations that means we can't release go-ipfs vX.Y.Z with it automatically using fs-repo-migrations xA.B.C which is dependent on go-ipfs vX.Y.Z).

You might have some luck if you build t

[2021-03-02 02:05] DeedleFake commented on #122
I tried building it against `dd295e456085` by modifying `go.mod`, but it didn't help. Is there some way that I can manually build and run a version of `fs-repo-migrations` that has the plugin bundled into it?

[2021-03-02 02:32] Shercode opened #123 "upgrade happen error"
2021-03-02T02:19:31.103Z error: [ipfsd] start daemon Error: Initializing daemon...
go-ipfs version: 0.8.0
Repo version: 11
System version: amd64/windows
Golang version: go1.15.8
Found outdated fs-repo, migrations need to be run.
  => Looking for suitable fs-repo-migrations binary.
  => None found, downloading.
  => Failed to download fs-repo-migrations.
The migrations of fs-repo failed:
  failed t

[2021-03-02 05:21] aschmahmann commented on #123
This seems to be the same error as https://github.com/ipfs-shipyard/ipfs-desktop/issues/1773, i.e. that your ISP/network is blocking access to the HTTP service that go-ipfs uses to download the migration binary. Unfortunately go-ipfs does not by default download migrations over IPFS yet, so censoring a few domain can cause problems.

However, as mentioned in the linked issue you still have some op

[2021-04-02 05:02] gammazero commented on #93
@hsanjuan

This is now fixed permanently.  Each migration is a separate binary, and all dependencies are vendored into each migration.  There are no shared dependencies, and fs-repo-migrations downloads all necessary migration binaries and executes them in order.

[2021-04-02 05:04] gammazero commented on #73
PR #116 merged. Closing issue.

[2021-04-02 05:04] #73 closed

[2021-04-02 05:06] gammazero commented on #60
Have not seen other reports of this issue.  No further need to support 4 to 5 migration issues.

[2021-04-02 05:06] #60 closed

[2021-04-02 05:17] #82 closed

[2021-04-02 05:37] gammazero commented on #121
Resolved as described in the previous comment.  Closing.

[2021-04-02 05:37] #121 closed

[2021-04-02 05:40] gammazero commented on #114
@rjy7wb Sounds like this is resolved. If so, please close this issue.

[2021-04-02 05:45] gammazero commented on #98
Work on this feature is completed and deployed.  Closing.

[2021-04-02 05:45] #98 closed

[2021-04-07 14:54] #114 closed

[2021-04-09 00:50] gammazero commented on #67
No longer updating the 5-to-6 migration.  Closing.

[2021-04-09 00:50] #67 closed

[2021-04-09 00:53] gammazero commented on #93
No longer necessary as noted in the previous comment.  Closing.

[2021-04-09 00:53] #93 closed

[2021-04-09 21:42] hsanjuan commented on #93
Thank you @gammazero , you resolved a big mess.

[2021-05-10 06:13] nolash opened #132 "web timeout for migration version fetch"
Could not get available repo migrations: http.DefaultClient.Do error: Get "https://ipfs.io/ipns/dist.ipfs.io/fs-repo-10-to-11/versions": dial tcp 209.94.90.1:443: i/o timeout

`280b5e796651f7e36bcb9f8aee3527009345207e`

[2021-05-31 14:10] jakubgs opened #133 "Docker images don't container migration tool"
#### Version information:
I'm running `0.5.1` using your official Docker images.

#### Description:
I attempted to upgrade my IPFS services from `0.5.1` to `0.8.0`, and I started first with upgrading to `0.6.0`.

I expected migrations to run automatically, but instead I got this:
[code]
The same thing happens if I attempt to use image `0.7.0` or `0.8.0`. How am I supposed to do this?

[2021-05-31 14:40] jakubgs commented on #133
I have attempte to upgrade using a different Docker image: https://hub.docker.com/r/linuxserver/ipfs

And it worked, but when I try to go back to the official `ipfs/go-ipfs:v0.8.0` image it shows me:
[code]
So it says:
[code]
And then it says:
[code]
But according to this table version `11` is the highest version currently:
https://github.com/ipfs/fs-repo-migrations#when-should-i-migrate

So I'm u

[2021-05-31 15:04] jakubgs commented on #133
I tried using `--migrate=false`, but it still fails:
[code]
What?

[2021-05-31 15:37] jakubgs commented on #133
I see, the message is just confusing, based on the contents of the `version` file I'm still on `9`.
It would probably make sense to print the current and desired versions in the error message.

[2021-05-31 15:40] jakubgs commented on #133
Okay, I managed to build locally the `fs-repo-9-to-10` migration tool, and it worked:
[code]
But I can't build the `` one:
[code]
This is quite the roller coaster.

[2021-05-31 15:47] jakubgs commented on #133
Upgrading to Go `1.16.4` has fixed to compilation issue:
[code]

[2021-06-17 21:07] aschmahmann opened #134 "build-plugin requires -y"
[code]
 but if I pass `-y` it succeeds. `-y` is flagged as  optional in the help for the command though.

 @gammazero do you mind taking a look?

[2021-07-08 17:24] oluapocram opened #136 "“fs-repo-10-to-11” cannot be opened because the developer cannot be verified."
Since upgrading to IPFS Desktop 0.16.1 and go-ipfs 0.9.0 I'm getting the following error message when visiting an IPFS site via Brave (Version 1.27.97 Chromium: 91.0.4472.124 (Official Build) dev (x86_64)). macOS Big Sur (11.4).

![image](https://user-images.githubusercontent.com/28657119/124964999-83132f00-dfd6-11eb-9be7-8b013a103e38.png)

[2021-07-14 21:15] lidel commented on #136
Let's continue in https://github.com/ipfs/go-ipfs/issues/8240
(Brave is already working on the fix, they will include signed and notarized `fs-repo-10-to-11` in their IPFS component.

[2021-07-14 21:15] #136 closed

[2021-07-16 04:51] poly000 opened #137 "503 Error while run migrations"
[code]

[2021-07-16 04:52] #137 closed

[2021-08-17 19:12] kevenboo opened #138 "Help needed migration 0.8.0 to 0.9.0 with go-ds-s3"
We currently have an IPFS server in version 0.8.0 and we would like to migrate it to 0.9.0 in the main time, we would like to add the plugin go-ds-s3 in our version 0.9.0.
From what I saw in the go-ds-s3 repository the plugin can be added to an IPFS server without data otherwise a datastore migration would have to be performed so we have to implement it in the 0.9.0 and migrate the data from the 0

[2021-10-30 14:34] tjayrush opened #139 "Migration failed"
I ran `ipfs daemon` on my Ubuntu box:

[code]

[2021-10-30 14:38] tjayrush commented on #139
It worked when I ran it a second time. Please feel free to close this if you wish.

[2021-12-08 19:53] #134 closed

[2021-12-10 11:40] #139 closed

[2021-12-10 11:43] hsanjuan opened #144 "11-to-12: Raw multihash migration"
I propose:

* Increasing the number of revert-workers to 4, as there seems to be no reason anymore to keep it in 1 (they have no state that they need to coordinate on anymore)
* Requiring a patched version of go-ds-badger where the gc cycle interval is set to 2 minutes. Otherwise we will not reclaim any space from deleted blocks as we migrate, which may make migrations fail on setups with little f

[2021-12-10 11:44] hsanjuan commented on #144
We should update the notes as this is resolved: https://github.com/ipfs/go-ipfs/issues/8344

[2021-12-22 17:58] joe-rice commented on #139
I'm having a similar issue, but mine is persistent.

[code]

[2021-12-22 21:00] joe-rice commented on #139
Doing the migrations one at a time helped.

[2022-01-10 15:34] aschmahmann opened #147 "Cannot use "go install" for latest release of fs-repo-migrations binary"
As a result of the move to submodules `go install github.com/ipfs/fs-repo-migrations` will target v1.7.1 since it was the last binary version to be present in that module. The `fs-repo-migrations` binary is now in a `fs-repo-migrations` subfolder+module. This means it needs to be installed as `go install github.com/ipfs/fs-repo-migrations/fs-repo-migrations`.

Unfortunately, there's not currently

[2022-01-11 14:36] Luflosi opened #148 "fs-repo-migrations is difficult to package"
As can be seen at https://repology.org/project/fs-repo-migrations/versions, the latest fs-repo-migrations version in every repository is still 1.7.1. Version 2.0.1 was released on 01 Apr 2021, which is now close to one year old, yet no repository has updated to this version.
Perhaps the reason for this is that it is very difficult to build fs-repo-migrations in a way that allows it to function wit

[2022-02-03 23:10] lidel commented on #123
See https://github.com/ipfs/ipfs-desktop/issues/1773#issuecomment-867095668

[2022-02-03 23:10] #123 closed

[2022-02-19 04:53] iohzrd opened #153 "ipfs daemon -c PATH --migrate doesn't use supplied path"
I use go-ipfs in my project https://github.com/iohzrd/identia.
I try to keep IPFS (along with all my dependencies) up-to-date but, i'm having trouble doing so as there isn't a clear way to migrate from v0.11 to v0.12 without manual intervention...

What I've tried so far:
[code]
Keep in mind that the migration needs to be done programmatically and not but the user. And, my app does not depend on e

[2022-02-20 03:25] iohzrd commented on #153
I was able to solve my issue by setting the IPFS_PATH environment variable. That being said, it would still be nice to be able to pass the path directly from ipfs to fs-repo-migrations. I'm gonna leave this issue open for now, until I get a response.

[2022-02-23 21:28] Luflosi commented on #148
I think I figured it out. I built every migration individually and then added the resulting binaries to the PATH of fs-repo-migrations. See https://github.com/NixOS/nixpkgs/pull/161547 for how this looks in detail.

[2022-03-05 22:09] max-privatevoid opened #155 "Build with CGO_ENABLED=0 for dist.ipfs.io binaries"
IPFS nodes may automatically download these binaries off the internet during migration. They should not have dependencies on any dynamic libraries, not even glibc, not even ld-linux.so. [Some](https://alpinelinux.org/) [particular](https://nixos.org/) [distros](https://guix.gnu.org/) are not able to execute the binaries as-is.

[2022-03-10 07:53] BigLep commented on #147
@aschmahmann : is there a preferred approach or are both equal?  Any concern with giving this to @schomatis ?

[2022-03-18 15:12] BigLep commented on #133
Thanks @jakubgs for reporting.  It's not a priority to include mirations into docker images because we don't want to balloon the docker image size.  You'll need to create your own docker image if you want to bundle migrations.

[2022-03-18 15:12] #133 closed

[2022-04-09 15:44] Dialga commented on #139
I also ran into this and considered opening another issue, but this issue should not have been closed because it still exists and migration across multiple versions is still not possible. I had to migrate one version at a time as @joe-rice mentioned. However before that each attempt resulted in different errors.

[code]

[2022-04-15 15:07] Luflosi opened #156 "Go 1.16 is EOL"
Go 1.16 is no longer supported since Go 1.18 was released.
Unfortunately, fs-repo-migrations does not work with Go 1.17. See https://github.com/ipfs/fs-repo-migrations/issues/122#issuecomment-945194121 and https://github.com/NixOS/nixpkgs/commit/2ff6ffe70b8b4051812c83db4753520cec4b56d5 for previous mentions and more detailed explanations of this issue.
Since Go 1.16 is EOL, it will start to be rem

[2022-04-25 16:13] Peltoche opened #157 "panic: qtls.ClientHelloInfo doesn't match"
Hello,

I tried to run the binary `fs-repo-migration` but it panics with the following output:
[code]

ipfs version: `0.12.2`
go version: `go1.18.1 linux/amd64`
I have installed `fs-repo-migration` with the following command: `go install github.com/ipfs/fs-repo-migrations@latest`

[2022-04-25 16:21] Peltoche commented on #157
I don't know how to resolve the error source but I found a quickfix if you only want to run the migration:

You can go to the [distribution page](https://github.com/ipfs/fs-repo-migrations/blob/master/run.md#step-1-downloading-the-migration)  and fetch directly the binary here.

[2022-04-25 16:26] aschmahmann commented on #156
The issue here is that fs-repo-migrations has a dependency on quic-go via a dependency on go-ipfs. If you're wondering why quic-go is tied to a specific Go version see https://github.com/lucas-clemente/quic-go/wiki/quic-go-and-Go-versions.

Ideally we'd be able to remove the quic-go dependency for migrations so we don't have to worry about this anymore.

This seems like an actionable item. Every m

[2022-04-25 16:26] #157 closed

[2022-05-31 08:08] max-privatevoid commented on #155
Still not taken care of for amd64. arm64 (https://ipfs.io/ipfs/QmdaCHYBDHEhXCMoynH5UcohEay6m1XayZCcxWZzKAHNVN/fs-repo-11-to-12/v1.0.2/fs-repo-11-to-12_v1.0.2_linux-arm64.tar.gz) is a static executable already for some reason.
[code]

[2022-06-13 16:19] sk33z3r commented on #156
I am unable to use IPFS on NixOS as of NixOS 22.05, due to Go 1.18 and 1.17 being the only available Go packages for NixOS in this version.

Default is v1.17, but I can force v1.18. I don't see any options to use v1.15 or v1.16 in the package repos for NixOS 22.05.

[2022-06-19 04:25] Huy-Ngo commented on #156
It seems newer version of quic-go added support for go 1.17 and 1.18:

(from the README)

Is it possible to build this with newer version of quic-go?

[2022-07-01 05:20] lemmi commented on #148
The current layout really isn't very well supported with the go toolchain and also with the build helpers voidlinux uses. The more usual way to do things is to have a single module at the toplevel of the repository and mimic the usual `$repo/cmd/fs-repo-$X-to-$Y` layout.
Keeping the current layout is proably also fine, but there needs to be a toplevel module, otherwise you manually need to change

[2022-07-29 15:28] aschmahmann commented on #155
It sounds like you're looking for a static build here rather than not having CGO enabled. If you could investigate the tradeoffs in things like binary size that would be great and we could consider building the migrations statically. However, there are reasons we might find ourselves needing CGO for the migrations (beyond just for plugins) so committing to keeping migrations CGO free does not seem

[2022-08-03 09:32] GwynethLlewelyn commented on #147
Speaking strictly for myself, I'd prefer a new tag, but I'm also fine with a comment in the README telling the user to run `go install github.com/ipfs/fs-repo-migrations/fs-repo-migrations` instead. So long as one doesn't need to wade eternally through the issues to figure out how to do it... 😸

[2022-08-03 17:41] max-privatevoid commented on #155
Some interesting results

## x86_64
[code]

`make -j12`
[code]

`make -j12 CGO_ENABLED=0`
[code]

## aarch64
[code]

`make -j4`
[code]

`make -j4 CGO_ENABLED=0`
[code]

[2022-08-05 15:26] guseggert commented on #138
Repo migrations aren't intended for datastore conversions, take a look at https://github.com/ipfs/ipfs-ds-convert

[2022-08-05 15:26] #138 closed

[2022-08-12 15:53] BigLep opened #159 "[Tracker] Kubo 0.16 migration list"
This is a tracker for various config migrations we want to land for Kubo 0.16:

- [ ] DHT Routers: https://github.com/ipfs/kubo/issues/9079
- [ ] Move secrets to separate file (priv key, API tokens)

[2022-09-15 15:59] guseggert commented on #153
Using IPFS_PATH is the way to switch repos, `-c` is only for switching config, so I don't think there's anything to do here.

[2022-09-15 15:59] #153 closed

[2022-09-22 21:50] CMB commented on #148
As it stands now, the 11-to-12 migration won't run
when built for Void Linux because of issue 156.
Void only offers Go 1.19.

[2022-11-09 18:53] lanceseidman commented on #147
Need to run "go install github.com/ipfs/fs-repo-migrations/fs-repo-migrations@latest".

[2022-11-30 22:36] ThomasFreedman opened #160 "Migration output should provide progress to completion"
I'm in the process of migrating a large ipfs repo (not sure of old version of this repo, I believe it was v11. History is now gone since upgrade was started) to latest kubo, v12. There is a file in the repo root named 11-to-12-cids.txt which is 497KB long.

Here are the stats currently reported:

~/.ipfs$ ipfs repo stat
NumObjects: 1500619
RepoSize:   391498113680
StorageMax: 6600000000000
RepoPat